h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.header {
    background: #ccc;
}
td, th {
    padding: 20px 60px;
}
td {
    background: #d9ffee;
}
.title {
    padding: 5px 60px;
    background: #ccc;
}