{% extends "base.html" %}

{% block content %}

<section class="cv-section cv-section_no-top-padding" id="symptoms" ref="symptoms">
	<div class="cv-section__container _g-outer-width _g-inner-padding">
		<div class="cv-section__content cv-section__content_relative">
			<h2 class="cv-section__title">Симптомы<br> коронавируса <span><sup><small>COVID&mdash;19</small></sup></span></h2>
			<div class="cv-section__description">В&nbsp;подавляющем большинстве случаев эти симптомы связаны не&nbsp;с&nbsp;коронавирусом, а&nbsp;с&nbsp;обычной ОРВИ.</div>
			<div class="cv-section__doc">
				<a href="https://static-1.rosminzdrav.ru/system/attachments/attaches/000/049/726/original/_A3_koronavirus_for_print.pdf?1584091816" target="_blank" class="cv-doc-link">
					<div class="cv-doc-link__title">Памятка о&nbsp;коронавирусе</div>
					<div class="cv-doc-link__footer">
						<div class="cv-doc-link__size">PDF &bull; 143&nbsp;Kb</div>
						<div class="cv-doc-link__dl">Скачать</div>
					</div>
				</a>
			</div>
			<h3 class="cv-section__subtitle" id="main-symptoms" ref="main-symptoms">Основные симптомы коронавируса</h3>
			<div class="cv-grid cv-grid_item5">
				<div class="cv-grid__item">
					<div class="cv-icon-card">
						<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp1.svg" alt="" class="cv-icon-card__img">
						<div class="cv-icon-card__text">высокая температура тела</div>
					</div>
				</div>
				<div class="cv-grid__item">
					<div class="cv-icon-card">
						<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp2.svg" alt="" class="cv-icon-card__img">
						<div class="cv-icon-card__text">кашель (сухой или с&nbsp;небольшим количеством мокроты)</div>
					</div>
				</div>
				<div class="cv-grid__item">
					<div class="cv-icon-card">
						<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp3.svg" alt="" class="cv-icon-card__img">
						<div class="cv-icon-card__text">одышка</div>
					</div>
				</div>
				<div class="cv-grid__item">
					<div class="cv-icon-card">
						<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp9.svg" alt="" class="cv-icon-card__img">
						<div class="cv-icon-card__text">боль в мышцах</div>
					</div>
				</div>
				<div class="cv-grid__item">
					<div class="cv-icon-card">
						<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp11.svg" alt="" class="cv-icon-card__img">
						<div class="cv-icon-card__text">утомляемость</div>
					</div>
				</div>
			</div>
			<h3 class="cv-section__subtitle" id="rare-symptoms" ref="rare-symptoms">Редкие симптомы коронавируса</h3>
			<div class="cv-grid cv-grid_item5">
				<div class="cv-grid__item">
					<div class="cv-icon-card">
						<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp5.svg" alt="" class="cv-icon-card__img">
						<div class="cv-icon-card__text">головная боль</div>
					</div>
				</div>
				<div class="cv-grid__item">
					<div class="cv-icon-card">
						<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp10.svg" alt="" class="cv-icon-card__img">
						<div class="cv-icon-card__text">заложенность грудной клетки</div>
					</div>
				</div>
				<div class="cv-grid__item">
					<div class="cv-icon-card">
						<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp6.svg" alt="" class="cv-icon-card__img">
						<div class="cv-icon-card__text">кровохарканье</div>
					</div>
				</div>
				<div class="cv-grid__item">
					<div class="cv-icon-card">
						<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp7.svg" alt="" class="cv-icon-card__img">
						<div class="cv-icon-card__text">диарея</div>
					</div>
				</div>
				<div class="cv-grid__item">
					<div class="cv-icon-card">
						<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp8.svg" alt="" class="cv-icon-card__img">
						<div class="cv-icon-card__text">тошнота, рвота</div>
					</div>
				</div>
			</div>
			<div class="cv-section__note">
				Симптомы могут проявиться в&nbsp;течение <strong>14&nbsp;дней</strong> после контакта с&nbsp;инфекционным больным. Симптомы во&nbsp;многом сходны со&nbsp;многими респираторными заболеваниями, часто имитируют обычную простуду, могут походить на&nbsp;грипп.
			</div>
		</div>
	</div>
</section>
<section class="cv-section" id="transmitted" ref="transmitted">
	<div class="cv-section__container _g-outer-width _g-inner-padding">
		<div class="cv-section__content">
			<h2 class="cv-section__title">Как передается коронавирус?</h2>
			<section class="cv-how">
				<div class="cv-how__container">
					<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/how.svg" alt="" class="cv-how__img">
					<div class="cv-how__content">
						<ul class="cv-icon-list">
							<li class="cv-icon-list__item">
								<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/list-icon.svg" alt="" class="cv-icon-list__item-img">
								<div class="cv-icon-list__item-text">воздушно-капельным путем (при кашле или чихании)</div>
							</li>
							<li class="cv-icon-list__item">
								<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/list-icon3.svg" alt="" class="cv-icon-list__item-img">
								<div class="cv-icon-list__item-text">контактным путем (поручни в транспорте, дверные ручки и другие загрязненные поверхности и предметы)</div>
							</li>
													</ul>
											</div>
				</div>
				<div class="cv-how__note">Как и&nbsp;другие респираторные вирусы, коронавирус распространяется через капли, которые образуются, когда инфицированный человек кашляет или чихает.<br><br> Кроме того, он&nbsp;может распространяться, когда инфицированный человек касается любой загрязненной поверхности, например, дверной ручки. Люди заражаются, когда они касаются загрязненными руками рта, носа или глаз.</div>
			</section>
		</div>
	</div>
</section>
<section class="cv-section" id="prevention" ref="prevention">
	<div class="cv-section__container _g-outer-width _g-inner-padding">
		<div class="cv-section__content">
			<h2 class="cv-section__title"><strong>7&nbsp;шагов</strong> по&nbsp;профилактике коронавирусной инфекции</h2>
			<section class="cv-steps">
				<div class="cv-steps__container">
					<div class="cv-steps__content">
						<ul class="cv-num-list">
							<li class="cv-num-list__item">Воздержитесь от&nbsp;посещения общественных мест: торговых центров, спортивных и&nbsp;зрелищных мероприятий, транспорта.</li>
							<li class="cv-num-list__item">Не&nbsp;касайтесь грязными руками глаз, лица и&nbsp;рта.</li>
							<li class="cv-num-list__item">Избегайте близких контактов и&nbsp;пребывания в&nbsp;одном помещении с&nbsp;людьми, имеющими видимые признаки ОРВИ (кашель, чихание, выделения из&nbsp;носа).</li>
							<li class="cv-num-list__item">Тщательно мойте руки с мылом и водой после возвращения с улицы и контактов с людьми, дезинфицируйте гаджеты и рабочие поверхности.</li>
							<li class="cv-num-list__item">Дезинфицируйте гаджеты, оргтехнику и&nbsp;поверхности, к&nbsp;которым прикасаетесь.</li>
							<li class="cv-num-list__item">Ограничьте по&nbsp;возможности при приветствии тесные объятия и&nbsp;рукопожатия.</li>
							<li class="cv-num-list__item">Пользуйтесь только индивидуальными предметами личной гигиены (полотенце, зубная щетка).</li>
						</ul>
					</div>
					<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/steps.svg" alt="" class="cv-steps__img">
				</div>
			</section>
		</div>
	</div>
</section>
<section class="cv-section" id="myths" ref="myths">
	<div class="cv-section__container _g-outer-width _g-inner-padding">
		<div class="cv-section__content">
			<h2 class="cv-section__title"><strong>Мифы</strong> и ложные представления</h2>
			<div class="cv-grid cv-grid_half">
				<div class="cv-grid__item">
					<div class="cv-info-card">
						<h3 class="cv-info-card__title">Являются&nbsp;ли антибиотики эффективным средством профилактики и&nbsp;лечения новой коронавирусной инфекции?</h3>
						<div class="cv-info-card__text">Нет, антибиотики против вирусов не&nbsp;действуют. Они позволяют лечить только бактериальные инфекции. Новый коронавирус&nbsp;&mdash; это вирус, и, следовательно, антибиотики не&nbsp;следует использовать для профилактики и&nbsp;лечения коронавирусной инфекции. Тем не&nbsp;менее, пациентам, госпитализированным с&nbsp;инфекцией, могут назначаться антибиотики для лечения сопутствующих бактериальных инфекций.</div>
					</div>
				</div>
				<div class="cv-grid__item">
					<div class="cv-info-card">
						<h3 class="cv-info-card__title">Народные средства (мед, чеснок, цитрусовые) полезны для профилактики коронавируса.</h3>
						<div class="cv-info-card__text">
							<p>Чтобы защититься от коронавируса, необходимо в первую очередь соблюдать меры социальной изоляции – не посещать многолюдные общественные места, держаться подальше от кашляющих и чихающих людей и тем более не контактировать с больными или людьми на карантине. Также необходимо после посещения общественных мест тщательно мыть руки с мылом и дезинфицировать поверхности, к которым прикасаетесь.</p>
							<br/>
							<p>Что касается цитрусовых, чеснока или меда, считается, что они укрепляют общий иммунитет, могут работать как жаропонижающее средство. Но существенной роли в профилактике коронавируса, как и других респираторных инфекций, они не играют.</p>
						</div>
					</div>
				</div>
				<div class="cv-grid__item">
					<div class="cv-info-card">
						<h3 class="cv-info-card__title">Правда&nbsp;ли, что новым коронавирусом могут заразиться только пожилые люди, или молодежь тоже восприимчива к&nbsp;этой инфекции?</h3>
						<div class="cv-info-card__text">Заразиться новым коронавирусом (COVID-19) могут представители всех возрастных категорий. Как представляется, пожилые люди и&nbsp;люди, больные определенными заболеваниями (например, астмой, диабетом, болезнью сердца), подвержены повышенному риску развития тяжелых форм коронавирусной инфекции. ВОЗ рекомендует лицам любого возраста принимать меры по&nbsp;защите от&nbsp;заражения, например посредством соблюдения гигиены рук и&nbsp;кашлевой гигиены.</div>
					</div>
				</div>
				<div class="cv-grid__item">
					<div class="cv-info-card">
						<h3 class="cv-info-card__title">Можно&nbsp;ли заразиться коронавирусом от&nbsp;домашних животных?</h3>
						<div class="cv-info-card__text">Сегодня известно семь видов коронавирусов, являющихся возбудителями острых респираторных заболеваний человека. Среди этих вирусов и новый COVID-19. Согласно современным исследованиям, источником коронавирусной инфекции, вызванной этими видами вирусов, животные – кошки, собаки, хомяки и прочие – быть не могут. При этом ряд ученых предполагает, что кошки могут быть потенциально восприимчивыми к инфекции при контактах с людьми и заразиться от них. Однако, по актуальным данным Всемирной организации здравоохранения, фактов распространения COVID-19 домашними питомцами не зафиксировано.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cv-section" id="world-statistics" ref="world-statistics">
	<div class="cv-section__container _g-outer-width _g-inner-padding">
		<div class="cv-section__content">
			<h2 class="cv-section__title">Мировая статистика</h2>
			<div class="cv-grid cv-grid_third">
				<div class="cv-grid__item">
					<a href="https://who.maps.arcgis.com/apps/opsdashboard/index.html#/a19d5d1f86ee4d99b013eed5f637232d" target="_blank" class="cv-src-card">
						<div class="cv-src-card__img">
							<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/who.svg" alt="" class="cv-src-card__img-src">
						</div>
						<div class="cv-src-card__text">Карта распространения коронавируса ВОЗ</div>
					</a>
				</div>
				<div class="cv-grid__item">
					<a href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" target="_blank" class="cv-src-card">
						<div class="cv-src-card__img">
							<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/jh.svg" alt="" class="cv-src-card__img-src">
						</div>
						<div class="cv-src-card__text">Университет Джонса Хопкинса</div>
					</a>
				</div>
				<div class="cv-grid__item">
					<a href="https://yandex.ru/web-maps/covid19" target="_blank" class="cv-src-card">
						<div class="cv-src-card__img">
							<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/ym.svg" alt="" class="cv-src-card__img-src">
						</div>
						<div class="cv-src-card__text">Карта распространения коронавируса в России и мире на Яндекс. Картах</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}