{% extends "base.html" %}

{% block content %}
<h1>Информация</h1>
<table>
        <tr>
            <td class="title">{{ v[0][1] }}</td>
            <td class="title">{{ v[1][1] }}</td>
            <td class="title">{{ v[2][1] }}</td>
            <td class="title">{{ v[3][1] }}</td>
            <td class="title">{{ v[4][1] }}</td>
        </tr>
        <tr>
            <td class="v">{{ v[0][0] }}</td>
            <td class="v">{{ v[1][0] }}</td>
            <td class="v">{{ v[2][0] }}</td>
            <td class="v">{{ v[3][0] }}</td>
            <td class="v">{{ v[4][0] }}</td>
        </tr>
</table>
<table>
    {% for a in i %}
    <tr>
        <th>Person # {{ a[0] }}</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr class="header">
        <td class="title">Температура</td>
        <td class="title">Частый контакт с людьми</td>
        <td class="title">Был ли за границей</td>
        <td class="title">Контакт с зараженными</td>
    </tr>
    <tr class="info">
        <td>{{ a[1] }}</td>
        <td>{{ a[2] }}</td>
        <td>{{ a[3] }}</td>
        <td>{{ a[4] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
